.anchor_league{
	margin-left:50px;
	margin-top:50px;
	display:block;
	text-decoration:none;
	font-size:1.2em;
	font-weight:600;
}
#intro{
	margin-top:50px;
	border-top:1px solid #ededed;
	padding:20px 20px 0px 20px;
}
.fl-content{
width:800px;
position:relative;
left:100px;
}
.fantasy-size{
position:absolute;
top:-22px;
right:0px;
}
.fantasies{
text-align:left;
}
.fantasy .participation{
text-align:center;
}
.fantasy .options{
padding-left:20px;
}
.fantasy .name{
width:200px;
}